# .env.example
GEMINI_API_KEY=""
APP_URL=""

# MongoDB Connection String
MONGODB_URI=""

# JWT Secrets
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Node Environment
NODE_ENV=""
